


h1 {
    text-align: center;
    font-size: 2rem;
  }

  .customer {
    text-align: center;
  }

  .customer-creation {
    text-align: center;
  }
  
 
  .customers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  
  .customers button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .username{
    font-size: 15px;
    font-weight: bold;
  }
  
  .customers button.active {
    background-color: #2196F3;
    color: white;
  }
  
  
  .input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  

  .unit-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  

  .add-button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  .unit-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    margin-top: 20px; 
  }
  
  
  .unit-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 400px; 
    width: 100%;
    position: relative;
  }
  .unit-image {
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
    max-height: 150px;
    display: block;
    margin: 10px auto;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .unit-card.done {
    background-color: #4CAF50;
  }
  

  .unit-card.priority-low {
    border-left: 7px solid #4c8ed4; 
  }
  
  .unit-card.priority-medium {
    border-left: 7px solid #FFC107;
  }
  
  .unit-card.priority-high {
    border-left: 7px solid #F44336;
  }
  

  @media screen and (max-width: 768px) {
    .customers {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .unit-card {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: transform 0.3s ease;
      max-width: 400px;
      width: 80%;
      margin: 0 auto;
    }

    

    .fleet-list{
      width: 84%;
    }
  
    .category-cards {
      width: 85%;
      margin: 0 auto;
    }
  
    .unit-card.priority-low {
      border-left: 5px solid #4c8ed4;
    }
  
    .unit-card.priority-medium {
      border-left: 5px solid #FFC107;
    }
  
    .unit-card.priority-high {
      border-left: 5px solid #F44336;
    }
  }
  
  .unit-card ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
 
  .unit-card button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
 
  .specifics-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 2;
  }
  
  
  .submit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .current-user {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .logout {
    border: solid 1px;
    border-radius: 5px;
    background-color: rgb(103, 155, 103);
    color: white;
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    padding: 0 15px;
  }
  
  @media screen and (max-width: 768px) {
  .current-user {
    flex-direction: column;
    align-items: center;
  }

  .logout {
    margin-top: 10px; 
    width: 100%; 
  }


}

.submission-button {
  display: block;
  margin: 0 auto; 
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}